$white: rgb(255, 255, 255);

$gray-20: rgb(232, 232, 243);
$gray-40: rgb(210, 210, 227);
$gray-60: rgb(163, 163, 193);
$gray-80: rgb(140, 143, 168);
$gray-100: rgb(110, 110, 138);
$gray-200: rgb(98, 98, 126);
$gray-300: rgb(89, 89, 119);
$gray-400: rgb(68, 70, 100);
$gray-500: rgb(60, 62, 90);
$gray-600: rgb(46, 47, 75);
$gray-700: rgb(31, 32, 53);
$gray-800: rgb(16, 17, 39);
$gray-900: rgb(3, 4, 28);

$brand-20: rgb(230, 240, 255);
$brand-60: rgb(150, 192, 255);
$brand-100: rgb(107, 166, 255);
$brand-200: rgb(43, 127, 255);
$brand-300: rgb(0, 101, 255);
$brand-400: rgb(0, 71, 179);
$brand-500: rgb(0, 62, 156);

$error-400: rgb(249, 112, 102);
$error-500: rgb(240, 68, 56);
$error-600: rgb(217, 45, 32);

$success-400: rgb(50, 213, 131);
$success-500: rgb(18, 183, 106);
$success-600: rgb(3, 152, 85);